.box{
    position: relative;
    height: 200px;
    width: 300px;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .dagoba-title {
    margin-top: 180px;
  }
  .planet{
    position: absolute;
    border-radius: 50%;
    background: #DD4B37;
    height: 60%;
    width: 40%;
    top: 15%;
    left: 30%;
    animation: rotate 20s linear infinite; 
  }
  
  .planet-copy{
    position: absolute;
    height: 100%;
    width: 100%;
    background: #DD4B37;
    border-radius: 50%;
    z-index: 1;
  }
  
  .white-circle{
    position: absolute;
    background: white;
    opacity: 0.1;
    height: 80%;
    width: 80%;
    border-radius: 50%;
    right: 0%;
    top: 0%;
    z-index: 3;
    height: 45%;
    width: 30%;
    top: 18%;
    left: 39%;
  }
  
  .circle-1{
    position: absolute;
    width: 18%;
    height: 18%;
    border-radius: 50%;
    background: #CB3B2B;
    top: 38%;
    left: 35%;
    z-index: 2;
  }
  
  .circle-2{
    position: absolute;
    width: 10%;
    height: 10%;
    border-radius: 50%;
    background: #CB3B2B;
    top: 20%;
    left: 45%;
    z-index: 2;
  }
  .circle-3{
    position: absolute;
    width: 13%;
    height: 13%;
    border-radius: 50%;
    background: #CB3B2B;
    top: 20%;
    left: 65%;
    z-index: 2;
  }
  
  .circle-4{
    position: absolute;
    width: 11%;
    height: 11%;
    border-radius: 50%;
    background: #CB3B2B;
    top: 60%;
    left: 65%;
    z-index: 2;
  }
  
  .circle-5{
    position: absolute;
    width: 11%;
    height: 11%;
    border-radius: 50%;
    background: #CB3B2B;
    top: 35%;
    left: 6%;
    z-index: 2;
  }
  
  .circle-6{
    position: absolute;
    width: 9%;
    height: 9%;
    border-radius: 50%;
    background: #CB3B2B;
    top: 75%;
    left: 15%;
    z-index: 2;
  }
  
  .circle-7{
    position: absolute;
    width: 11%;
    height: 11%;
    border-radius: 50%;
    background: #CB3B2B;
    top: 85%;
    left: 40%;
    z-index: 2;
  }

@keyframes rotate{
    to{
        transform: rotate(360deg);
    }
}